// Component: Header

@use"../helpers/variables" as v;
@use"../helpers/mixins" as m;
@use"../helpers/functions" as f;

header {
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: v.$color-bg-page;
  font-family: v.$font-family-base;
  height: max-content;
  padding: f.to-rem(16px);
  @include m.flex-content(column);
}

.desktop-header {
  @include m.flex-content(row, space-between, center);
}

.mobile-header {
  display: none;
}

.header-logo {
  img {
    width: f.to-rem(185px);
  }
}

.nav-icons {
  list-style: none;
  @include m.flex-content(row, null, center);
  gap: f.to-rem(35px);

  li a {
    color: v.$color-text-base;
    text-decoration: none;
    font-size: v.$font-size-lg;
    transition: v.$transition-link;

    img {
      width: f.to-rem(23px);
      height: max-content;
    }
  }
}

#userMenu {
  display: none;
}

@media (max-width: 1024px) {
  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: flex;

    .search-box {
      border: v.$border-2 ;
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 10px;
      border-radius: v.$radius-sm;
      align-items: center;
      display: flex;
      gap: 5px;

      span {
        font-size: v.$font-size-lg;
        font-weight: v.$font-weight-700;
        color: v.$color-brand-primary;
      }
    }
  }
}