/* Error: There's already a module with namespace "cart".
 *     ,
 * 23  | @use "../components/cart";
 *     | ========================= original @use
 * ... |
 * 35  | @use "./cart";
 *     | ^^^^^^^^^^^^^ new @use
 *     '
 *   assets/scss/pages/home.scss 35:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: There's already a module with namespace \"cart\".\a     \2577 \a 23  \2502  @use \"../components/cart\";\a     \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original @use\a... \2502 \a 35  \2502  @use \"./cart\";\a     \2502  ^^^^^^^^^^^^^ new @use\a     \2575 \a   assets/scss/pages/home.scss 35:1  root stylesheet";
}
