<div class="category-cards-titel container-column">
  <h2>Browse The Range</h2>
  <p class="p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>

<div class="category-cards-section">
  <button class="btn-move btn-move-left">
    <img src="assets/content/images/svg/angle-left-solid-full.svg" alt="">
  </button>
  <div class="category-card">
    <img class="category-card__image" src="assets/content/images/photos/dining-tables.png" alt="">
    <p class="category-card__title">
      Dining
    </p>
  </div>

  <div class="category-card">
    <img class="category-card__image" src="assets/content/images/photos/dining-chairs.png" alt="">
    <p class="category-card__title">
      Living
    </p>
  </div>

  <div class="category-card">
    <img class="category-card__image" src="assets/content/images/photos/beds.png" alt="">
    <p class="category-card__title">
      Bedroom
    </p>
  </div>
  <button class="btn-move btn-move-right">
    <img src="assets/content/images/svg/angle-right-solid-full.svg" alt="">
  </button>
</div>