<div class="footer-main">
  <div class="footer-brand">
    <h2>Funiro .</h2>
    <p>400 University Drive Suite 200 Coral Gables,<br>
      FL 33134 USA</p>
  </div>
  <div class="footer-links">
    <div class="footer-links-group">
      <p>Links</p>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="footer-links-group">
      <p>Help</p>
      <ul>
        <li><a href="#">Payment Options</a></li>
        <li><a href="#">Returns</a></li>
        <li><a href="#">Privacy Policies</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-newsletter">
    <p>Newsletter</p>
    <form action="">
      <input type="text" name="" id="" placeholder="Enter Your Email Address">
      <button type="button">SUBSCRIBE</button>
    </form>
  </div>
</div>
<div class="footer-bottom">
  <p>2023 furino. All rights reverved</p>
</div>