<div class="footer-main container-row ">
  <div>
    <h2>Funiro .</h2>
    <p>400 University Drive Suite 200 Coral Gables,
      FL 33134 USA</p>
  </div>
  <div>
    <div>
      <p>Links</p>
      <ul>
        <li>Home</li>
        <li>Shop</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </div>
    <div>
      <p>Help</p>
      <ul>
        <li>Payment Options</li>
        <li>Returns</li>
        <li>Privacy Policies</li>
      </ul>
    </div>
  </div>
  <div>
    <p>Newsletter</p>
    <form action="">
      <input type="text" name="" id="">
      <button type="button">SUBSCRIBE</button>
    </form>
  </div>
</div>
<div>
  <p>2023 furino. All rights reverved</p>
</div>