@use"../helpers/variables" as v;
@use"../helpers/functions" as f;
@use"../helpers/mixins" as m;

button {
  cursor: pointer;
}

// Outline buttons
.Dark-hollow-button {
  background-color: v.$color-white;
  border: 1px solid v.$color-black;
  color: v.$color-black;
}

.Colored-hollow-button {
  background-color: v.$color-white;
  border: 1px solid v.$color-brand-primary;
  color: v.$color-brand-primary;
}

// Filled buttons
.Color-button {
  background-color: v.$color-brand-primary;
  border: none;
  color: v.$color-white;
}

.Light-button {
  background-color: v.$color-white;
  border: none;
  color: v.$color-brand-primary;
}

// Button sizes
.button-XXl {
  padding: f.to-rem(25px) f.to-rem(72px);
  font-weight: v.$font-weight-700;
  font-size: v.$font-size-base;
  line-height: v.$line-height-tight;
  text-transform: uppercase;
  width: max-content;
}

.button-Xl {
  padding: f.to-rem(15px);
  font-weight: v.$font-weight-700;
  font-size: v.$font-size-base;
  line-height: v.$line-height-tight;
  text-transform: uppercase;
}

.button-s {
  padding: f.to-rem(8px) f.to-rem(15px);
  font-weight: v.$font-weight-500;
  font-size: v.$font-size-xs;
  line-height: v.$line-height-tight;
  text-transform: uppercase;
}

.button-m {
  @include m.flex-content(row, center, center, inline-flex);
  min-height: f.to-rem(48px);
  padding: f.to-rem(12px) f.to-rem(24px);
  font-weight: v.$font-weight-600;
  font-size: v.$font-size-base;
  line-height: v.$line-height-tight;
}

.btn-move {
  background-color: v.$color-white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  aspect-ratio: 1 / 1;
  border: v.$border-3;
  border-radius: v.$radius-full;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    width: 70%;
    aspect-ratio: 1 / 1;
  }

  &-left {
    left: 0;
  }

  &-right {
    right: 0;
  }
}


@media (max-width: 480px) {
  .button-XXl {
    padding: f.to-rem(20px) 0;
    width: 100%;
    font-weight: v.$font-weight-700;
    font-size: v.$font-size-base;
    line-height: v.$line-height-tight;
    text-transform: uppercase;
    // width: max-content;
  }
}